.App{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/monkey-bg.jpg');
  background-color: #B1C1C0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: greenyellow;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}